<form method="post" action="{{ path('app_crm_delete', {'id': crm.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ crm.id) }}">
    <button class="btn">Delete</button>
</form>
