<!DOCTYPE html>

<title>New Crm</title>

{% block body %}
    <h1>Create new Crm</h1>

    {{ include('crm/_form.html.twig') }}

    <a href="{{ path('app_crm_index') }}">back to list</a>
{% endblock %}
