<!DOCTYPE html>

<title>New BrancheMetier</title>

{% block body %}
    <h1>Create new BrancheMetier</h1>

    {{ include('branche_metier/_form.html.twig') }}

    <a href="{{ path('app_branche_metier_index') }}">back to list</a>
{% endblock %}
