<form method="post" action="{{ path('app_immatriculation_delete', {'id': immatriculation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immatriculation.id) }}">
    <button class="btn">Delete</button>
</form>
