<!DOCTYPE html>

<title>New Immatriculation</title>

{% block body %}
    <h1>Create new Immatriculation</h1>

    {{ include('immatriculation/_form.html.twig') }}

    <a href="{{ path('app_immatriculation_index') }}">back to list</a>
{% endblock %}
