<!DOCTYPE html>

<title>New Identification</title>

{% block body %}
    <h1>Create new Identification</h1>

    {{ include('identification/_form.html.twig') }}

    <a href="{{ path('app_identification_index') }}">back to list</a>
{% endblock %}
