<!DOCTYPE html>

<title>New Department</title>

{% block body %}
    <h1>Create new Department</h1>

    {{ include('department/_form.html.twig') }}

    <a href="{{ path('app_department_index') }}">back to list</a>
{% endblock %}
