<!DOCTYPE html>

<title>New CorpsMetiers</title>

{% block body %}
    <h1>Create new CorpsMetiers</h1>

    {{ include('corps_metiers/_form.html.twig') }}

    <a href="{{ path('app_corps_metiers_index') }}">back to list</a>
{% endblock %}
