<div class="col-sm-12">
    <table id="datatable" class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100 dataTable no-footer dtr-inline">
        <thead class="table-light">
            <tr>
                <th>Photo</th>
                <th>Prenoms</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Activé ?</th>
                <th>Roles</th>
                <th>Dernière connexion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>




